@media (min-width:768px) and (max-width:1020px) {
    
    
    .conteudo {
        z-index: 1;
        
    }
    
    
    
    
    .descricao {
        z-index: 1;
    }
    

    .botoes a {
        z-index: 2;
    }
   
}


@media (min-width:320px) and (max-width:767px) {

    .conteudo {
        position: relative;
        padding-bottom: 50px;
        
    }
    
    
    
    
    .descricao {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        margin-bottom: 20px;
        z-index: 2;
    }
    
    .foto {
        background-image: url('../imagens/295502230_1087090728586731_6785230213000851344_n.jpg');
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border: 2px solid #ffff;
        margin-bottom: 10px;
        z-index: 2;
    }
    
    h1 {
        font-size: 2rem;
        color: var(--cor-azul);
        margin-top: 5px;
    }
    h2 {
        font-size: 1rem;
        color: #fff;
        margin-top: 5px;
        font-family: 'montserrat-black';
        letter-spacing: 10px;
    }
    h3 {
        color: #fff;
        margin-top: 10px;
        font-size: 1rem;
    }
    
    .botoes {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .botoes a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        background-color: #343437;
        color: #fff;
        text-align: start;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 20px;
        font-size: 1rem;
        border-left: 8px solid var(--cor-azul);;
        font-size: 1.3rem;
        font-family: 'montserrat-medium';
        z-index: 2;
    }
    .botoes a:hover {
        background-color: #4e4e53;
    }
    img {
        width: 24px;
        height: auto;
        margin-right: 5px;
    }
}