* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
}


body {
    width: 100%;
    heigth:100vh;
    background-image: url('../imagens/fundo.svg');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    
    
}

.conteudo {
    position: relative;
    padding-bottom: 80px;
    
}

.descricao {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 20px;
}

.foto {
    background-image: url('../imagens/295502230_1087090728586731_6785230213000851344_n.jpg');
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #ffff;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    color: var(--cor-azul);
    margin-top: 5px;
}
h2 {
    font-size: 1rem;
    color: #fff;
    margin-top: 5px;
    font-family: 'montserrat-black';
    letter-spacing: 10px;
}
h3 {
    color: #fff;
    margin-top: 10px;
    font-size: 1rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.botoes a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background-color: #343437;
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
    font-size: 1rem;
    border-left: 8px solid var(--cor-azul);;
    font-size: 1.3rem;
    font-family: 'montserrat-medium';
}
.botoes a:hover {
    background-color: #4e4e53;
}
img {
    width: 24px;
    height: auto;
    margin-right: 5px;
}
